<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pinmarket.mapper.mypage.MypageMapper">
	<resultMap id="attachmentVO" type="com.pinmarket.vo.AttachmentVO">
	  <result property="id" column="ATID"/>
	  <result property="fk_id" column="FK_ID"/>
	  <result property="file_type" column="FILE_TYPE"/>
	  <result property="save_name" column="SAVE_NAME"/>
	  <result property="real_name" column="REAL_NAME"/>
	  <result property="file_path" column="FILE_PATH"/>
	  <result property="file_size" column="FILE_SIZE"/>
	  <result property="thumbnail_name" column="THUMBNAIL_NAME"/>
	  <result property="file_ext" column="FILE_EXT"/>
	</resultMap>
	<resultMap type="com.pinmarket.vo.MemberVO" id="memberVO">
		<result property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="address1" column="ADDRESS1"/>
		<result property="address2" column="ADDRESS2"/>
		<result property="zipcode" column="ZIPCODE"/>
		<result property="tel" column="TEL"/>
		<result property="email" column="EMAIL"/>
		<result property="login_type" column="LOGIN_TYPE"/>
		<result property="str_id" column="STR_ID"/>
		<result property="item_cnt" column="ITEM_CNT"/>
		<collection property="attachmentVO" resultMap="attachmentVO" />
	</resultMap>
	<resultMap id="productVO" type="com.pinmarket.vo.ProductVO">
	  <result property="id" column="ID"/>
	  <result property="product_name" column="PRODUCT_NAME"/>
	  <result property="product_price" column="PRODUCT_PRICE"/>
	  <result property="descript" column="DESCRIPT"/>
	  <result property="status" column="STATUS"/>
	</resultMap>
	<resultMap id="orderVO" type="com.pinmarket.vo.OrderVO">
	  <result property="id" column="ID"/>
	  <result property="member_id" column="MEMBER_ID"/>
	  <result property="product_id" column="PRODUCT_ID"/>
	  <result property="order_id" column="ORDER_ID"/>
	  <result property="card_name" column="CARD_NAME"/>
	  <result property="card_num" column="CARD_NUM"/>
	  <result property="product_name" column="PRODUCT_NAME"/>
	  <result property="method_type" column="METHOD_TYPE"/>
	  <result property="pg_type" column="PG_TYPE"/>
	  <result property="receipt_id" column="RECEIPT_ID"/>
	  <result property="status" column="STATUS"/>
	  <result property="price" column="PRICE"/>
	  <result property="requested_at" column="REQUESTED_AT"/>
	  <result property="purchased_at" column="PURCHASED_AT"/>
	  <collection property="productVO" resultMap="productVO" />
	  <collection property="attachmentVO" resultMap="attachmentVO" />
	</resultMap>
	
	<resultMap id="rankingVO" type="com.pinmarket.vo.RankingVO">
	  <result property="id" column="ID" />
	  <result property="member_id" column="MEMBER_ID"/>
	  <result property="str_id" column="STR_ID"/>
	  <result property="auction_id" column="AUCTION_ID"/>
	  <result property="title" column="TITLE"/>
	  <result property="content" column="CONTENT"/>
	  <result property="payment_status" column="PAYMENT_STATUS"/>
	  <result property="regDate" column="REGDATE"/>
	  <collection property="attachmentVO" resultMap="attachmentVO" />
	  <collection property="auctionVO" resultMap="auctionVO" />
	</resultMap>
	<resultMap id="auctionVO" type="com.pinmarket.vo.AuctionVO">
		<result property="id" column="ID" />
		<result property="member_id" column="MEMBER_ID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="address1" column="ADDRESS1" />
		<result property="address2" column="ADDRESS2" />
		<result property="status" column="STATUS" />
		<result property="regDate" column="REGDATE" />
		<result property="startDate" column="STARTDATE" />
		<result property="endDate" column="ENDDATE" />
		<result property="latitude" column="LATITUDE" />
		<result property="longitude" column="LONGITUDE" />
		<result property="str_id" column="STR_ID" />
		<result property="rt_cnt" column="RT_CNT" />
		<collection property="attachmentVO" resultMap="attachmentVO" />
	</resultMap>
	
	<select id="getMyInfo" resultMap="memberVO">
		SELECT MT.*, AT2.THUMBNAIL_NAME 
		FROM MEMBER_TB MT LEFT JOIN ATTACHMENT_TB AT2 ON MT.ID = AT2.FK_ID AND AT2.FILE_TYPE = 'member'
		WHERE MT.ID = #{id}
	</select>
	
	<select id="chkPwd" resultType="int">
		SELECT COUNT(*) FROM MEMBER_TB WHERE ID = #{id} and PW = #{password}
	</select>
	
	<update id="changePwd">
		UPDATE MEMBER_TB SET PW = #{newPassword} WHERE ID = #{id}
	</update>
	
	<update id="changeInfo">
		UPDATE MEMBER_TB SET NAME = #{name}, ADDRESS1 = #{address1}, ADDRESS2 = #{address2}, ZIPCODE = #{zipcode}, TEL = #{tel}, EMAIL = #{email}
		WHERE ID = #{id}
	</update>
	
	<update id="changeProfile">
		UPDATE ATTACHMENT_TB SET 
		SAVE_NAME = #{save_name}, 
		REAL_NAME = #{real_name}, 
		FILE_PATH = #{file_path}, 
		FILE_SIZE = #{file_size}, 
		FILE_EXT = #{file_ext}, 
		REGDATE = sysdate,
		THUMBNAIL_NAME = #{thumbnail_name}
		WHERE FK_ID = #{fk_id} and FILE_TYPE = 'member'
	</update>
	
	<insert id="insertProfile">
		INSERT INTO ATTACHMENT_TB (ID, FK_ID, FILE_TYPE, SAVE_NAME, REAL_NAME, FILE_PATH, FILE_SIZE, FILE_EXT, REGDATE,THUMBNAIL_NAME)
		VALUES(SEQ_ATTACHMENT_ID.nextval, #{fk_id}, #{file_type}, #{save_name},#{real_name},#{file_path},#{file_size},#{file_ext},sysdate,#{thumbnail_name})
	</insert>
	
	<select id="getPaymentInfo" resultMap="orderVO">
		SELECT OT.ID,MEMBER_ID, OT.PRODUCT_ID ,OT.ORDER_ID, OT.CARD_NUM , OT.PRODUCT_ID,OT.STATUS
		,OT.PRODUCT_NAME ,OT.METHOD_TYPE , OT.PG_TYPE ,OT.PURCHASED_AT, PT.DESCRIPT ,OT.PRICE,
		AT2.FILE_PATH, AT2.REAL_NAME
		FROM ORDER_TB OT LEFT JOIN PRODUCT_TB PT ON OT.PRODUCT_ID = PT.ID 
		LEFT JOIN ATTACHMENT_TB AT2 ON OT.PRODUCT_ID = AT2.FK_ID AND AT2.FILE_TYPE = 'product'
		WHERE OT.MEMBER_ID = #{id} AND OT.STATUS = 'comp'
	</select>
	
	<select id="getMyAutionList" resultMap="auctionVO">
		SELECT T2.*
		FROM (
			SELECT
				ROWNUM RNUM, T1.*
			FROM(
				SELECT at2.THUMBNAIL_NAME ,act.ID, act.MEMBER_ID, act.TITLE, SUBSTR(act.CONTENT,1, 15) as CONTENT, act.ADDRESS1, act.ADDRESS2, act.STATUS, act.REGDATE,
				TO_CHAR(act.STARTDATE, 'YYYY-MM-DD') as startDate, TO_CHAR(act.ENDDATE, 'YYYY-MM-DD') as endDate, mt.STR_ID
				FROM AUCTION_TB act LEFT JOIN MEMBER_TB mt ON act.MEMBER_ID = mt.ID 
				LEFT JOIN ATTACHMENT_TB at2 ON act.ID = at2.FK_ID AND at2.FILE_TYPE = 'auction' AND at2.THUMBNAIL_NAME IS NOT NULL
				<where>
					act.MEMBER_ID = #{id} AND
					(act.STATUS = 'open' OR act.STATUS = 'comp' OR act.STATUS = 'end' OR act.STATUS = 'wait')
				</where>
				ORDER BY act.ID DESC
			) T1
		) T2
		<where>
			T2.RNUM between #{pc.startRow} and #{pc.endRow}
		</where>
	</select>
	
	<select id="getAuctionRankList" resultType="com.pinmarket.vo.RankingVO">
		SELECT 
			RT.ID, RT.MEMBER_id, RT.AUCTION_ID,RT.TITLE,  SUBSTR(RT.CONTENT, 1,7) AS CONTENT
			,RT.PAYMENT_STATUS, TO_CHAR(RT.REGDATE ,'YYYY-MM-DD') as REGDATE, MT.STR_ID 
		FROM 
			RANKING_TB RT LEFT JOIN MEMBER_TB MT ON RT.MEMBER_ID = MT.ID
		<where>
			<choose>
				<when test="rankId == 0">
					<![CDATA[
						RT.AUCTION_ID = #{id} AND ROWNUM <= 6
					]]>
				</when>
				<when test="rankId != 0">
					<![CDATA[
						RT.AUCTION_ID = #{id} AND RT.ID = #{rankId}
					]]>
				</when>
			</choose>
		</where>
	</select>
	
	<!-- 내가 올린 경매글 전용 -->
	<select id="getAuctionRankStatus" resultType="com.pinmarket.vo.RankingVO">
		SELECT 
			COUNT(*) as RANK_CNT, RANKING_ID AS ID
		FROM 
			AUC_STATUS_TB
		WHERE
			AUCTION_ID = #{id} AND STATUS = 'comp'
		GROUP BY RANKING_ID
	</select>
		
	<select id="getMyAutionTotal" resultType="int">
		SELECT COUNT(*) FROM AUCTION_TB
		WHERE MEMBER_ID = #{member_id} AND (STATUS = 'open' OR STATUS = 'comp' OR STATUS = 'end' OR STATUS = 'wait')
	</select>
	
	<select id="getMyRankTotal" resultType="int">
		SELECT COUNT(*) FROM RANKING_TB WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="getMyRankList" resultMap="rankingVO">
	SELECT T2.*
	FROM (
		SELECT
			ROWNUM RNUM, T1.*
		FROM(
			SELECT RT.ID,RT.MEMBER_ID,RT.AUCTION_ID,RT.TITLE,RT.CONTENT,RT.PAYMENT_STATUS,
			TO_CHAR(RT.REGDATE, 'YYYY-MM-DD') AS REGDATE, ATT.THUMBNAIL_NAME, MT.STR_ID
			FROM RANKING_TB RT LEFT JOIN ATTACHMENT_TB ATT ON RT.ID = ATT.FK_ID AND ATT.FILE_TYPE = 'rank'
			LEFT JOIN MEMBER_TB MT ON MT.ID = RT.MEMBER_ID
			WHERE RT.MEMBER_ID = #{member_id}
		) T1
	) T2
	<where>
		T2.RNUM between #{pc.startRow} and #{pc.endRow}
	</where>
	</select>
	
	<select id="getAuctionInfo" resultMap="auctionVO">
	 	SELECT AT2.ID, AT2.MEMBER_ID, AT2.TITLE, AT2.CONTENT, AT2.ADDRESS1, AT2.ADDRESS2,
	 	AT2.STATUS, TO_CHAR(AT2.REGDATE, 'YYYY-MM-DD') AS REGDATE, TO_CHAR(AT2.STARTDATE, 'YYYY-MM-DD') AS STARTDATE, TO_CHAR(AT2.ENDDATE, 'YYYY-MM-DD') AS ENDDATE,
	 	AT2.LATITUDE, AT2.LONGITUDE, ATB.THUMBNAIL_NAME, MT.STR_ID
	 	FROM AUCTION_TB AT2 LEFT JOIN ATTACHMENT_TB ATB ON AT2.ID = ATB.FK_ID AND ATB.FILE_TYPE = 'auction' AND ATB.THUMBNAIL_NAME IS NOT NULL 
	 	LEFT JOIN MEMBER_TB MT ON MT.ID = AT2.MEMBER_ID
	 	WHERE AT2.ID = #{auction_id}
	</select>
	
	<select id="checkAucRankStatus" resultType="int">
		SELECT COUNT(*)
		FROM AUC_STATUS_TB 
		WHERE AUCTION_ID = #{auction_id} AND RANKING_ID = #{id} AND STATUS = 'comp'
	</select>
</mapper>