@charset "UTF-8";
#wrap{
  margin:0 auto;
  width:300px;
}
#back-to-top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 235px;
  right: 10px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-top:active {
  background-color: #555;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

#back-to-write {
  display: inline-block;
  background-color: #adb5bd;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 180px;
  right: 10px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#back-to-write:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-write:active {
  background-color: #555;
}
#back-to-write.show {
  opacity: 1;
  visibility: visible;
}

#back-to-chat {
  display: inline-block;
  background-color: #ffc107;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 125px;
  right: 10px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#back-to-chat:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-chat:active {
  background-color: #555;
}
#back-to-chat.show {
  opacity: 1;
  visibility: visible;
}