<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pinmarket.mapper.product.ProductMapper">
	<resultMap id="attachmentVO" type="com.pinmarket.vo.AttachmentVO">
		 <result property="id" column="ATID"/>
		 <result property="fk_id" column="FK_ID"/>
		 <result property="file_type" column="FILE_TYPE"/>
		 <result property="save_name" column="SAVE_NAME"/>
		 <result property="real_name" column="REAL_NAME"/>
		 <result property="file_path" column="FILE_PATH"/>
		 <result property="file_size" column="FILE_SIZE"/>
		 <result property="thumbnail_name" column="THUMBNAIL_NAME"/>
		 <result property="file_ext" column="FILE_EXT"/>
	</resultMap>
	<resultMap id="productVO" type="com.pinmarket.vo.ProductVO">
		 <result property="id" column="ID"/>
		 <result property="product_name" column="PRODUCT_NAME"/>
		 <result property="product_price" column="PRODUCT_PRICE"/>
		 <result property="descript" column="DESCRIPT"/>
		 <result property="status" column="STATUS"/>
		 <collection property="attachmentVO" resultMap="attachmentVO" />
	</resultMap>
	
	<select id="getProductList" resultMap="productVO">
		select * from PRODUCT_TB PT 
		LEFT JOIN ATTACHMENT_TB AT2 ON PT.ID = AT2.FK_ID AND AT2.FILE_TYPE = 'product'
	</select>
	
	<insert id="createOrder">
		INSERT INTO ORDER_TB (ID, MEMBER_ID, PRODUCT_ID, STATUS) 
		VALUES(SEQ_ORDER_TB_ID.nextval,#{member_id},#{product_id},'wait')
		
		<selectKey order="AFTER" resultType="int" keyProperty="id">
			SELECT SEQ_ORDER_TB_ID.currval FROM dual
		</selectKey>
	</insert>
	
	<update id="addOrder_id">
		UPDATE ORDER_TB SET ORDER_ID = #{order_id}
		WHERE ID = #{id}
	</update>
	
	<update id="updateStatus">
		UPDATE ORDER_TB SET 
		CARD_NUM 		= 	#{card_num}, 
		PRODUCT_NAME 	= 	#{product_name}, 
		METHOD_TYPE 	= 	#{method_type}, 
		PG_TYPE 		= 	#{pg_type}, 
		RECEIPT_ID		=	#{receipt_id},
		PRICE			=	#{price},
		REQUESTED_AT	=	TO_DATE(#{requested_at},'yyyy-MM-dd hh24:mi:ss'),
		PURCHASED_AT	=	TO_DATE(#{purchased_at},'yyyy-MM-dd hh24:mi:ss')
		WHERE ORDER_ID 	= 	#{order_id}
	</update>
	
	<select id="getOrder" resultType="com.pinmarket.vo.OrderVO">
		SELECT * FROM ORDER_TB WHERE RECEIPT_ID = #{receipt_id}
	</select>
	
	<update id="OrderStatusUpdate">
		UPDATE ORDER_TB SET STATUS = #{status}
		WHERE RECEIPT_ID = #{receipt_id}
	</update>
	
</mapper>